bpelContent/stockWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.stock.s2re.fr" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="webServiceStock" targetNamespace="http://webservice.stock.s2re.fr">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.stock.s2re.fr" elementFormDefault="unqualified" targetNamespace="http://webservice.stock.s2re.fr" version="1.0">

  <xs:element name="decrementerStock" type="tns:decrementerStock"/>

  <xs:element name="decrementerStockResponse" type="tns:decrementerStockResponse"/>

  <xs:element name="getProduitByReference" type="tns:getProduitByReference"/>

  <xs:element name="getProduitByReferenceResponse" type="tns:getProduitByReferenceResponse"/>

  <xs:element name="produitDto" type="tns:produitDto"/>

  <xs:element name="updateProduit" type="tns:updateProduit"/>

  <xs:element name="updateProduitResponse" type="tns:updateProduitResponse"/>

  <xs:complexType name="updateProduit">
    <xs:sequence>
      <xs:element minOccurs="0" name="paramProduit" type="tns:produitDto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="produitDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="quantiteStock" type="xs:int"/>
      <xs:element minOccurs="0" name="reference" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateProduitResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="produitUpdate" type="tns:produitDto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="decrementerStock">
    <xs:sequence>
      <xs:element name="qteStock" type="xs:int"/>
      <xs:element name="qteCommande" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="decrementerStockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="nouvelleQuantite" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getProduitByReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="paramReference" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getProduitByReferenceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="produitByReference" type="tns:produitDto"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getProduitByReferenceResponse">
    <wsdl:part element="tns:getProduitByReferenceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProduitByReference">
    <wsdl:part element="tns:getProduitByReference" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="decrementerStock">
    <wsdl:part element="tns:decrementerStock" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="decrementerStockResponse">
    <wsdl:part element="tns:decrementerStockResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProduit">
    <wsdl:part element="tns:updateProduit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProduitResponse">
    <wsdl:part element="tns:updateProduitResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IStockWebService">
    <wsdl:operation name="updateProduit">
      <wsdl:input message="tns:updateProduit" name="updateProduit">
    </wsdl:input>
      <wsdl:output message="tns:updateProduitResponse" name="updateProduitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="decrementerStock">
      <wsdl:input message="tns:decrementerStock" name="decrementerStock">
    </wsdl:input>
      <wsdl:output message="tns:decrementerStockResponse" name="decrementerStockResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduitByReference">
      <wsdl:input message="tns:getProduitByReference" name="getProduitByReference">
    </wsdl:input>
      <wsdl:output message="tns:getProduitByReferenceResponse" name="getProduitByReferenceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webServiceStockSoapBinding" type="tns:IStockWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateProduit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateProduit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProduitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="decrementerStock">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="decrementerStock">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="decrementerStockResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduitByReference">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProduitByReference">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProduitByReferenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="webServiceStock">
    <wsdl:port binding="tns:webServiceStockSoapBinding" name="StockWebServiceImplPort">
      <soap:address location="http://localhost:28080/Stock/services/springServiceStock"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>